.login-box{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FCD788;;
}

.formBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  color: #081878;
  /**毛玻璃效果*/
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  
}

.formBox > input{
  width: 300px;
  height: 25px;
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
  border:1px solid #0dd9f8;
  background: transparent;
  padding-left: 10px;
}

.formBox > input:focus{
  outline: none;
}
.formBox > input::placeholder{
  color: rgba(19, 189, 240, 0.5);
}

.formBox > button{
  width: 100px;
  height: 30px;
  align-self: center;
  font-size: 16px;
  color: #fff;
  background: #3bdcf5;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.formBox > button:hover{
  background: #0dd9f8;
}

.formBox > button:active{
  scale: 0.9;
}

.formBox > span{
  font: 12px;
  align-self: center;
}