.x {
  width: 271px;
  height: 342px;
  padding: 30px 24px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-radius: 25px;
  background: radial-gradient(
      37.49% 44.47% at 9.23% 13.79%,
      rgba(251, 38, 255, 0.6) 0%,
      rgba(251, 38, 255, 0.22) 100%
    ),
    radial-gradient(
      57.82% 70.75% at 12.18% 95.55%,
      rgba(152, 21, 255, 0.68) 0%,
      rgba(152, 21, 255, 0) 100%
    ),
    radial-gradient(
      46.2% 53.31% at 85.79% 10.34%,
      rgba(25, 48, 255, 0.41) 0%,
      rgba(25, 48, 255, 0) 100%
    ),
    rgba(52, 97, 255, 0.8);
}
.img {
  height: 100px;
}
.text {
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  font-family: PingFang SC;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}
