.x {
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fed06f;
  transition: 1s all ease-in-out;
}
.tips {
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px;
  width: 100%;
  height: 15%;
  background-color: #fed06f;
  box-shadow: 0px -3px 3px rgba(255, 255, 255, 0.3);
}
/*过渡页文字介绍*/
.intro {
  margin-left: 8px;
}
.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
