name: deploy to aliyun oss

on:
  push:
    tags:
      - v**

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      # 切代码到 runner
      - uses: actions/checkout@v3
      # npm install
      - name: npm install and build
        run: |
          npm install --force
          npm run build
        env:
          CI: true
      # 设置阿里云OSS的 id/secret，存储到 github 的 secrets 中
      - name: setup aliyun oss
        uses: fangbinwei/aliyun-oss-website-action@v1
        with:
          folder: dist
          accessKeyId: ${{ secrets.OSS_KEY_ID }}
          accessKeySecret: ${{ secrets.OSS_KEY_SECRET }}
          bucket: ncuhome-town
          endpoint: https://oss-cn-beijing.aliyuncs.com
          skipSetting: true
